* {
    background-color: #073a29;
}

body {
    color: white;
    font-family: sans-serif;
    margin: auto;
    width: 70%;
    text-align: center;
    margin-top: 150px;
    letter-spacing: 2px;
}

p {
    font-size: 20px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}